@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
// Global colors and fonts for the app.
$Neutral_900: hsl(243, 96%, 9%);
$Neutral_800: hsl(243, 27%, 20%);
$Neutral_700: hsl(243, 23%, 24%);
$Neutral_600: hsl(243, 23%, 30%);
$Neutral_300: hsl(240, 6%, 70%);
$Neutral_200: hsl(250, 6%, 84%);
$Neutral_200_light: rgba(213, 212, 217, 0.078);
$Neutral_0: hsl(0, 0%, 100%);
$Orange_500: hsl(28, 100%, 52%);
$Blue_500: hsl(233, 67%, 56%);
$Blue_700: hsl(248, 70%, 36%);

@mixin DM_SANS($size, $weight, $color) {
    font-family: 'DM Sans', sans-serif;
    font-optical-sizing: auto;
    font-size: $size;
    font-weight: $weight;
    line-height: normal;
    color: $color;
}

@mixin BRICOLAGE_GROTESQUE($size, $weight, $color) {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-optical-sizing: auto;
    font-size: $size;
    font-weight: $weight;
    line-height: normal;
    color: $color;
}

html{
    body{
        #root{
            .content{ //unico .content de la app
                .SearchCityContent{
                    display: flex;
                    flex-direction: column;

                    .formContent{
                        // border: 1px solid white;
                        position: relative;

                        .searchContent{
                            margin: 0 auto;
                            width: 55%;
                            display: flex;
                            gap: 15px;

                            .inputContent{
                                display: flex;
                                width: 100%;
                                justify-content: start;
                                align-items: center;
                                background-color: rgba(255, 255, 255, 0.1);
                                padding: 5px;
                                border-radius: 6px;
                                flex: 8;
                                gap: 10px;
                                padding-left: 15px;
                                position: relative;

                                input{
                                    @include DM_SANS(15px, 600, white);
                                    background-color: none;
                                    background: none;
                                    // outline: none;
                                    border: none;
                                    // flex: 9;
                                    width: 100%;
                                    height: 40px;
                                    outline: none;
                                }

                                // img{
                                //     flex: 1;
                                // }

                                .resultsContent{ 
                                    position: absolute;
                                    top: 100%;
                                    left: 0;
                                    width: 100%;
                                    display: flex;
                                    flex-direction: column;
                                    gap: 6px;
                                    box-sizing: border-box;
                                    z-index: 10;
                                    margin-top: 10px;
                                    border-radius: 6px;
                                    padding: 8px;
                                    background-color: rgba(255, 255, 255, 0.1);
                                    opacity: 0;
                                    visibility: hidden;

                                    button{
                                        outline: none;
                                        border: none;
                                        background: none;
                                        @include DM_SANS(12px, 500, white );
                                        text-align: start;
                                        border-radius: 6px;
                                        cursor: pointer;
                                        padding-left: 8px;

                                        &:hover{
                                            background-color: rgba(255, 255, 255, 0.1) ;;
                                        }
                                    }
                                }
                            }
                            .searchButton{
                                flex: 2;
                                background-color: $Blue_500;
                                @include DM_SANS(15px, 500, white);
                                border: none;
                                border-radius: 12px;
                                cursor: pointer;
                                margin: 2px;

                                &:hover{
                                    background-color: $Blue_700;
                                }
                                &:focus{
                                    outline: $Blue_500 2px solid;
                                    outline-offset: 2px;
                                }
                            }
                        }
                    }
                    .fetchError{
                        @include DM_SANS(2rem, 500, white );
                        background: none;
                        margin: 0 auto;
                        margin-top: 50px;
                    }
                }
            }
        }
    }
}